.cover__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    text-decoration: none;
    /* background-color: #2A2C2F;
    opacity: 0.3; */
    background-color: rgb(42, 44, 47, 0.3);
}

.cover__link:hover{
    background-color: rgb(42, 44, 47, 0.8);
}


