.header__row-links{
    display: flex;
    padding: 0 48px 7px 0;
    align-items: flex-end;
    list-style: none;
    margin: 0;
}



@media screen and (max-width: 768px){
    .header__row-links{
        padding: 0 24px 8px 0;
    }
} 

@media screen and (max-width: 320px){
    .header__row-links{
        padding: 0 16px 0 0;
    }
} 