.lead__title{
    max-width: 720px;
    margin: 0 auto;
    font-weight: 900;
    font-style: normal;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    padding-top: 56px;
}

@media screen and (max-width: 1024px){
    .lead__title{
        padding-top: 48px;
    }
}

@media screen and (max-width: 767px){
    .lead__title{
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}


  
