.place__paragraph {
    font-family: "Inter", Arial, sans-serif;
    padding-bottom: 26px;
    font-weight: normal;
    margin: 0;
    font-size: 18px;
    line-height: 163%;
}
  
  @media screen and (max-width: 820px) {
        .place__paragraph {
          font-size: 16px;
          line-height: 26px;
    }
        .place__paragraph:last-of-type{
            padding-bottom: 0;
        }
}

  


  
