.footer__copiring{
    color: #ffffff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  
}

@media screen and (max-width: 767px) {
    .footer__copiring {
        line-height: 14px;
        margin-top: 48px;
    
    }
}