.cover__title{
  
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding-bottom: 20px;
    max-width: 560px;
   
   
}

@media screen and (max-width: 768px) {
    .cover__title {
        padding-top: 0;
        max-width: 74%;
    }
}


@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 33px;
        line-height: 35px;
    }
}
