 .place {
    display: grid;
    margin: 0 auto;
    padding-top: 80px;
    grid-template-columns: minmax(320px, 460px) minmax(288px, 484px);
    grid-template-rows: auto 460px;
    grid-row-gap: 48px;
    grid-column-gap: 40px;
    max-width: 984px;
    padding-left: 148px;
    padding-right: 148px;
}

.place:first-of-type{
    padding-top: 92px;
}

  @media (max-width: 1024px) {
    .place {
      max-width: 928px;
      grid-template-rows: auto 440px;
      grid-column-gap: 32px;
      grid-row-gap: 48px;
      padding-left: 48px;
      padding-right: 48px;
    }
}
  @media (max-width: 768px) {
    .place {
      max-width: 720px;
      padding-top: 73px;
      grid-template-columns: 340px 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 28px;
      padding-left: 24px;
      padding-right: 24px;
    }
    .place:first-of-type{
      padding-top: 88px;
  }
}
  
  @media (max-width: 640px) {
    .place {
      padding-top: 50px;
      max-width: 320px;
      grid-gap: 32px;
      grid-template-columns: 1fr;
      justify-content: center;
    }
    .place:first-of-type{
      padding-top: 64px;
  }
}

